@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html {
  scroll-behavior: smooth;
}
.title{
  font-family: "Outfit", sans-serif;
}

:root{
  --secondary-color:#030201 ;
  --primary-color:#fa4c35 ;
  --border-color:ring-pink-400 ;
}
*{
  box-sizing: border-box;
}