@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}
.title{
    font-family: "Kapakana", cursive;
}

:root{
  --secondary-color:#FF7C19 ;
  --primary-color:#ff303a ;
  --border-color:ring-pink-400 ;
}
*{
  box-sizing: border-box;
}